caption {
    caption-side: top;
    text-align: center !important;
    color: #212529 !important;
}

tr {
    background-color: #212529 !important;
}

td {
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h3 {
    text-align: left;
    width: 100%;
}

/* Style the notifications list to be aligned left */
.notifications {
    margin-top: 0;      /* Remove extra top margin */
    padding-left: 20px;
    width: 100%;
    text-align: left; /* Aligns the text in the list items to the left */
}