caption {
    caption-side: top;
    text-align: center !important;
    color: #212529 !important;
}

tr {
    background-color: #212529 !important;
}

td {
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.top-aces-table {
    max-width: 80%;
    table-layout: fixed;
}

.recent-aces-table {
    max-width: 35%;
    table-layout: fixed;
}